@import './_footer.css';
@import './_header.css';
@import './_letter.css';
@import './_main.css';
@import './_overlay.css';

html,
body,
.app {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100dvh;
    font: normal normal 16px/1rem var(--font-family);
    color: var(--color-black);
    background-color: var(--color-white);
    overflow: hidden;
}
