* {
    font-size: 1rem;
    font-family: var(--font-family);
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

p {
    margin: 0;
}

ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}

ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.25rem 0;
}

ul li:first-child {
    margin-top: 0;
}

ul li:last-child {
    margin-bottom: 0;
}

html,
body {
    min-width: 360px;
}
